<form [formGroup]="registerUser" style="display: flex; flex-direction: column;">
    <mat-form-field floatLabel="auto" appearance="outline">
        <mat-label>Username</mat-label>
        <input placeholder="Username" matInput formControlName="username" autofocus autocomplete="off">
        <mat-error *ngIf="registerUser.get('username').hasError('required')">
            Username is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="registerUser.get('username').hasError('maxlength')">
            Username must be at most 40 characters
        </mat-error>
        <mat-error *ngIf="registerUser.get('username').hasError('minlength')">
            Username must be at least 5 characters
        </mat-error>
        <mat-error *ngIf="registerUser.get('username').hasError('pattern')">
            Please enter a valid username
        </mat-error>
    </mat-form-field>

    <mat-form-field floatLabel="auto" appearance="outline">
        <mat-label>Password</mat-label>
        <input placeholder="Password" matInput autocomplete="off" formControlName="password" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="registerUser.get('password').hasError('required')">
            Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="registerUser.get('password').hasError('pattern')">
            Please enter a valid Password
        </mat-error>
        <mat-error *ngIf="registerUser.get('password').hasError('minlength')">
            Password should be atleast 8 characters
        </mat-error>
        <mat-error *ngIf="registerUser.get('password').hasError('maxlength')">
            Password should be atmost 20 characters
        </mat-error>
    </mat-form-field>
    <button mat-raised-button type="submit" mat-button color="primary" [disabled]="!registerUser.valid" (click)="submit()">Login</button>

</form>